<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strømforbruk-Elvia</title>
    <link rel="stylesheet" href="main.css">
    <%if(darkmode == "on"){%>
    <link rel="stylesheet" href="dark.css">
    <%}%>
    <%if(darkmode == "off"){%>
    <link rel="stylesheet" href="light.css">
    <%}%>
<style>
  canvas {width:550px;}
</style
</head>
<body>
<script>
    var values = [0];
    var labels = ['A'];

    <%
    for(var t = 0; t < temperaturer.length; t++){
        var temp = temperaturer[t][0];
        var time = temperaturer[t][1];
	%>
        labels[<%=t%>] = "<%=time%>";
        values[<%=t%>] = <%=temp%>;
	<%
    }
    %>

</script>
<table border="0">
    <td valign="middle">
	<div style="font-size:50px;"><%=temperaturer[temperaturer.length - 1][0]%>&deg;C</div>
	<div style="font-size:30px;"><%=temperaturer[temperaturer.length - 1][2]%>&#37;</div>
    </td>
    <td align="center">
	<canvas id="myChart" height="110"></canvas>
    </td>
    <td align="center">
        <%if(darkmode == "on"){%>
            <form action="/mode/daymode" method="get">
                <input type="submit" value="Darkmode off">
            </form>
        <%}%>
        <%if(darkmode == "off"){%>
            <form action="/mode/1" method="get">
                <input type="submit" value="Darkmode on">
            </form>
        <%}%>
	<br/>
        <form action="/mode/reload" method="get">
            <input type="submit" value="Reload page">
        </form>
    </td>
</table>
<div style="font-size:25px;">
<%sensorverdier.forEach((element, index) => {%>
    <%=sensorverdier[index].id%> : <%=sensorverdier[index].data[0].value%>&deg;C
<% });%>
</div>

<!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');

function colorize() {
    return (ctx) => {
        var v = ctx.parsed.y;
        var c = v < 5 ? '#44DE28'
            : v < 10 ? '#F46300'
                : v < 15 ? '#D60000'
                    : '#0358B6';

        return c ;
    };
}

</script>
<script>
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
			label: 'Temperatur',
		        <%if(darkmode == "on"){%>
			borderColor: 'white',
			<%}%>
		        <%if(darkmode == "off"){%>
			borderColor: 'black',
			<%}%>
	                data: values
                }]
        }, 
	options:{
		pointRadius: 0,
		<%if(darkmode == "on"){%>
		scales: {
			x: {
				ticks:{
					color: 'white'
				}
			},
			y: {
				grid:{
					color: 'white',
					borderDash: [5, 15]
				},
				ticks:{
					color: 'white'
				}
			}
		},
		<%}%>
		<%if(darkmode == "off"){%>
		scales: {
			x: {
				ticks:{
					color: 'black'
				}
			},
			y: {
				ticks:{
					color: 'black'
				}
			}
		},
		<%}%>
		plugins:{
			legend: {
				display: false
			}
		}
	}
    })
</script>
</body>
</html>
